@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mt-5"><strong>INVENTARIOS EPIS</strong></h1>
    
    <div class="d-block mt-5">
        <a asp-controller="Cuentas" asp-action="LoginAdministrador" class="btn btn-outline-primary w-50">
            <i class="fa-solid fa-user-secret"></i>&nbsp;Accede como Administrador
        </a>
    </div>
    <div class="d-block mt-3">
        <a asp-controller="Cuentas" asp-action="LoginTrabajador" class="btn btn-outline-secondary w-50">
            <i class="fa-solid fa-users"></i>&nbsp;Accede como Trabajador
        </a>
    </div>
</div>
