@model Trabajador

<h1 class="text-center mb-5 display-4">Bienvenido @Model.Nombre <br />Administra el Inventario</h1>

<div class="container mt-5 text-center">
    <div class="row justify-content-center mt-4">
        <div class="col-sm-4 mb-4">
            <div class="card shadow-sm text-center p-3">
                <h2 class="card-title">Espacio</h2>
                <p class="card-text">Espacio donde se encuentran los bienes</p>
                <a asp-controller="Espacios" asp-action="Index" class="btn btn-secondary"><i class="fas fa-building"></i></a>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="card shadow-sm text-center p-3">
                <h2 class="card-title">Categoría</h2>
                <p class="card-text">Categoría a la que pertenece el bien</p>
                <a asp-controller="Categorias" asp-action="Index" class="btn btn-danger"><i class="fas fa-tags"></i></a>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="card shadow-sm text-center p-3">
                <h2 class="card-title">Trabajador</h2>
                <p class="card-text">Trabajador de la EPIS</p>
                <a asp-controller="Trabajadores" asp-action="Index" class="btn btn-warning"><i class="fas fa-users"></i></a>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-5">
        <div class="col-sm-4 mb-4">
            <div class="card shadow-sm text-center p-3">
                <h2 class="card-title">Bien</h2>
                <p class="card-text">Bien del inventario</p>
                <a asp-controller="Bienes" asp-action="Index" class="btn btn-primary"><i class="fas fa-box"></i></a>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="card shadow-sm text-center p-3">
                <h2 class="card-title">Encargo</h2>
                <p class="card-text">Bienes encargados a los trabajadores</p>
                <a asp-controller="Encargos" asp-action="Index" class="btn btn-success"><i class="fas fa-truck"></i></a>
            </div>
        </div>
    </div>
</div>
