@model ProyectoVersion1.Models.Trabajador

@{
    ViewData["Title"] = "Crear trabajador";
}

<<div class="container mt-5">
    <h1 class="text-center mb-4">Crear Nuevo Trabajador</h1>

    <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Datos del Trabajador</h4>
        </div>
        <div class="card-body">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label" hidden></label>
                <input asp-for="Cargo" class="form-control" hidden value="Trabajador"/>
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="ViewBag.Tipo">
                    <option value="">---Seleccionar Tipo de Trabajador---</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-footer text-end mt-3">
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fa-solid fa-circle-left"></i> Regresar a la lista
            </a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
