@model ProyectoVersion1.Models.Trabajador

@{
    ViewData["Title"] = "Editar Trabajador";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Editar Trabajador</h1>

    <div class="card border-0 shadow-sm">
        <div class="card-header bg-warning text-dark text-center">
            <h4 class="mb-0">Detalles del Trabajador</h4>
        </div>
        <div class="card-body">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label" hidden></label>
                <input asp-for="Cargo" class="form-control" hidden value="Trabajador" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="ViewBag.Tipo"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-warning">
                        <i class="fa-regular fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fa-solid fa-circle-left"></i> Regresar a la lista
            </a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
