@model ProyectoVersion1.Models.Categoria

@{
    ViewData["Title"] = "Editar categoría";
}

<div class="container mt-4">
    <h1 class="text-center mb-4 fw-bold">Editar Categoría</h1>

    <div class="card border-0 shadow-sm">
        <div class="card-header bg-warning text-dark">
            <h4 class="mb-0 mt-2 fw-bold">Datos de la Categoría</h4>
        </div>
        <div class="card-body">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label fw-bold"></label>
                <input asp-for="Nombre" class="form-control mt-1" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripción" class="control-label fw-bold mt-3"></label>
                <input asp-for="Descripción" class="form-control mt-1" />
                <span asp-validation-for="Descripción" class="text-danger"></span>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-warning">
                        <i class="fa-regular fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fa-solid fa-circle-left"></i> Regresar a la lista
            </a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
