@model ProyectoVersion1.Models.Espacio

@{
    ViewData["Title"] = "Crear espacio";
}

<div class="container mt-4">
    <h1 class="text-center mb-4 fw-bold">Crear Nuevo Espacio</h1>

    <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0 fw-bold mt-2">Datos del Espacio</h4>
        </div>
        <div class="card-body">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label fw-bold"></label>
                <input asp-for="Nombre" class="form-control mt-1" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Tipo" class="control-label fw-bold"></label>
                    <select asp-for="Tipo" class="form-control mt-1" asp-items="ViewBag.Tipo">
                    <option value="">---Seleccionar Tipo---</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Ubicacion" class="control-label fw-bold"></label>
                    <input asp-for="Ubicacion" class="form-control mt-1" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-footer text-end mt-3">
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fa-solid fa-circle-left"></i> Regresar a la lista
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
